<div class="user-profile">
    <h1>User Profile for: <%= @user.email %></h1>
    <div class="container">
        <div>
            <h4>Created on:</h4>
            <p><%= @user.created_at.strftime("%B %d, %Y") %></p>
        </div>
        <div>
            <h4>Updated on:</h4>
            <p><%= @user.updated_at.strftime("%B %d, %Y") %></p>
        </div>
        <div>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
        <div>
            <%= link_to 'New ToDo', new_user_item_path(@user), class: 'btn btn-primary' %>
        </div>
    </div>
    <div>
        <% @items.each_with_index do |item, number| %>
            <div style= "border-top: 1px solid red; padding: 1rem;"><h3><%= render 'items/item', item: item, number: number %></h3></div>
        <% end %>
    </div>
</div>