<h1>Add New To-Do Item</h1>
<%= form_for :items, url: user_items_path(user_id: @user.id), method: :post do |f| %>
    <div>
        <%= f.label :name %><br>
         <%= f.text_field :name, placeholder: "Enter item name", size: 50 %>
    </div>
    <div>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
        <%= link_to 'Back', users_show_path(@user), class: 'btn btn-primary' %>
    </div>
<% end %>